<h1>Sitemap</h1>




<p>From this page, you can visit the other pages of my site; such as my portfolio pics
</p>
<a href = "/welcome/index">Home</a>
<a href = "/sitemap/index">Sitemap</a>
<a href = "/myportfolio/pics">My Portfolio</a>
<a href = "/games/memory">Test Your Memory</a>

<p> New Visit Array: <%= @message %> </p>


