<h1>Portfolio#index</h1>
<p>Find me in app/views/myportfolio/index.html.erb</p>




<a href="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/1560656_10152670763173254_4200004522404042888_n.jpg">

<a href = "/sitemap/index">Sitemap</a>
<a href = "/myportfolio/pics">My Portfolio</a>

<p> New Visit Array: <%= @message %> </p>
