Welcome to My Portfolio

<% @project.each do |project| %>

<form action="porfolio">
	<input type=" ">



</form>


<p>
	name: <%= project.name %>
	<br/>
	description: <%= project.description %>
	<br/>
	category: <%= project.category %>
</p>

<% end %>